@keyframes reveal-top {
	from {
		transform: translateY(-3rem);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes reveal-bottom {
	from {
		transform: translateY(3rem);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.animation-reveal-top {
	animation: reveal-top 1.5s;
}

.animation-reveal-bottom {
	animation: reveal-bottom 1.5s;
}

.animation-fade {
	animation: fade 2s;
}
