* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--bg-alt-color);
	transition: background-color, color 0.5s;
	block-size: 100vh;
	@media (max-width: $tablet) {
		--min-padding: 10px;
	}
	padding: var(--min-padding);
	overflow: hidden;
}

main {
	block-size: 100%;
	background-color: var(--bg-color);
	padding: var(--min-padding);
	overflow-y: scroll;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.container {
	inline-size: 85%;
	margin: auto;
}
