@mixin centerBg($color){
	background-color: $color;
		background-repeat: no-repeat;
		background-position: center center;
}

.grid {
	display: grid;
	grid-template-rows: repeat(4, 300px);
	grid-template-columns: 1fr;
	grid-template-areas: "first" "second" "third" "fourth";
	gap: var(--min-padding);
	padding: var(--max-padding) 0;
	--bg-alt-color: rgba(255, 255, 255, 0.12);

	@media (min-width: $tablet) {
		block-size: 500px;
		grid-template-areas: "first first second second" "first first second second" "first first third fourth" "first first third fourth";
		grid-template-rows: repeat(4, 1fr);
		grid-template-columns: repeat(4, 1fr);
	}

	.grid-item:nth-of-type(1) {
		grid-area: first;
		background: url(../images/pen.png);
		@include centerBg(var(--bg-alt-color))
		
	}
	.grid-item:nth-of-type(2) {
		grid-area: second;
		background: url(../images/trainers.png);
		@include centerBg(var(--bg-alt-color))
	}
	.grid-item:nth-of-type(3) {
		grid-area: third;
		background: url(../images/money.png);
		@include centerBg(var(--bg-alt-color))
	}
	.grid-item:nth-of-type(4) {
		grid-area: fourth;
		background: url(../images/walter-white.svg);
		@include centerBg(var(--bg-color))
	}
}

.grid-item {
	transition: transform 0.3s;
	border: solid var(--border-size) var(--bg-alt-color);

	article {
		height: 100%;
		width: 100%;
		padding: 1.5rem;
		background-color: var(--bg-color);
		@media (min-width: $laptop) {
			opacity: 0;
		}
		transition: opacity 0.4s;

		&:hover {
			opacity: 1;
		}
	}
}
