.ruler {
	block-size: 100px;
	inline-size: 5px;
	background: url(../images/bank-note.svg);
	margin: var(--max-padding) auto;
}

.pattern-bg {
	margin-block-start: 1.5rem;
	background: url(../images/diagonal-stripes.svg);
	height: 200px;
}

footer ul {
	margin: var(--max-padding) 0;
	@media (min-width: $tablet) {
		display: inline-flex;
	}
	li {
		margin: var(--min-padding);
	}
	@supports (flex-gap: 10px) {
		gap: var(--max-padding);
	}
}
