footer ul {
	margin: var(--max-padding) 0;
	@media (min-width: $tablet) {
		display: inline-flex;
	}
	li {
		margin: var(--min-padding);
	}
	@supports (flex-gap: 10px) {
		gap: var(--max-padding);
	}
}

.container {
	inline-size: 80%;
	margin: 0 auto;
}

.grid {
	// block-size: 100%;
	// inline-size: 100%;
	@media (min-width: $tablet) {
		display: grid;
		grid-template-columns: 20% auto;
		gap: 30px;
		grid-template-rows: 1fr;
	}

	> :first-child {
		position: relative;

		&::before {
			content: " ";
			position: absolute;
			right: 0;
			bottom: -10px;
			background-color: white;
			inline-size: 100%;
			block-size: var(--border-size);
			@media (min-width: $tablet) {
				inline-size: var(--border-size);
				block-size: 100%;
				bottom: 0;
				background: linear-gradient(white, transparent);
			}
		}
	}
}
