* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");

@font-face {
	font-family: "Soleil";
	src: local("Soleil"), url(../fonts/Soleil-Regular.woff);
	font-weight: 400;
	font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font), cursive;
	font-style: normal;
	font-weight: normal;
}

body {
	font-family: "Soleil", sans-serif;
}

h1 {
	font-size: 3em;
	@media (min-width: $laptop) {
		font-size: 4em;
	}
	line-height: 137.95%;
	letter-spacing: 0.05rem;
	padding-block-end: 1rem;
}

h2 {
	font-size: 1.75em;
	@media (min-width: $laptop) {
		font-size: 2.5em;
	}
	margin-block-end: 40px;
}

h1,
h2 {
	color: var(--bg-color);
	-webkit-text-stroke: 2.5px var(--bg-alt-color);
}
.grid h5 {
	font-size: 1.5em;
}

p {
	font-style: normal;
	font-weight: normal;
	&.description {
		margin-block-end: 15px;
		font-size: 1.3rem;
		line-height: 180.95%;
		letter-spacing: 0.25px;
		// @media (min-width: $tablet) {
		// 	// inline-size: 80%;
		// }
	}
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: var(--border-size) solid var(--bg-alt-color);
	padding: 4px;
	transition: background-color 0.3s, border-color 0.3s;
	&:hover,
	&:focus {
		border-color: transparent;
		background-color: var(--hover-bg-color);
		color: var(--bg-color);
	}
}

big {
	top: 0;
	left: 0;
	font-size: 5em;
	position: absolute;
	color: var(--bg-color);
	-webkit-text-stroke: 1.5px var(--bg-alt-color);
}
